<div class="container text-xs-center">
	<h3>Thank you for your order!</h3>
		<p>
			You will receive an email confirmation with your order details
		</p>
		<br>
		<%= link_to 'Products', products_path, class: 'btn btn-primary btn-lg' %>
</div>
