<table>
  <tbody>
    <tr>
      <td><h2>We received your order for <%= @product.name %></h2></td>
    </tr>
    <tr>
      <td><p>Thank you! Your order will be shipped soon.</p></td>
    </tr>
  </tbody>
</table>
