/* line 4, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/products.scss */
#prodh1 {
  margin-bottom: 50px;
}

/* line 8, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/products.scss */
.boxp {
  margin-bottom: 5%;
}
/* line 1, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 1, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

/* line 8, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
h1 {
  font-family: monospace;
  text-align: center;
}

/* line 13, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
h2 {
  font-family: monospace;
}

/* line 17, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
h1 {
  padding-top: 3%;
}

/* line 21, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.mynav {
  color: white;
  font-family: monospace;
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

/* line 28, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.photo {
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* line 34, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.foot {
  height: 40px;
  background-color: #f5f5f5;
  font-family: monospace;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
}

/* line 45, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.carousel-inner > .item > img {
  margin: 0 auto;
}

/* line 49, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.carousel .item {
  width: 100%;
  /*slider width*/
  height: 100%;
  /*slider height*/
}

/* line 54, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.block {
  height: 720px;
}

/* line 59, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
#lp {
  margin-bottom: 50px;
  text-align: center;
}

/* line 64, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
#contactp {
  height: 90vh;
  font-family: monospace;
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

/* line 71, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.button {
  border-radius: 5px;
  border: 0;
  width: 80px;
  height: 25px;
  font-family: monospace;
  background: #f4f4f4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
}

/* line 95, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.prodind {
  padding-bottom: 50px;
}

/* line 99, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.panel-default {
  opacity: 0.9;
  margin-top: 30px;
}

/* line 103, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.form-group.last {
  margin-bottom: 0px;
}

/* line 105, /home/bumblebee/Desktop/RubyCF/railsapp/app/assets/stylesheets/static_pages.scss */
.panel-heading {
  font-family: monospace;
  font-size: 16px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

